#datat {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#datat td, #datat th {
    border: 1px solid #ddd;
    padding: 8px;
}

#datat tr:nth-child(even){background-color: #f2f2f2;}

#datat tr:hover {background-color: #ddd;}

#datat th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#link a:link 
{
text-decoration:none;
}
